#classSelector{
    border: none;
	border-bottom: 3px solid #7B68EE;
	width: 100px;
}
.submit{
	color: white;
	font-family: Garamond;
	padding: 8px 20px;
	text-align: center;
	border-radius: 25px;
	background-color: #483D8B;
	cursor: pointer;
	width: auto;
	margin:none;
}
button{
	color: white;
	font-family: Garamond;
	padding: 8px 20px;
	text-align: center;
	border-radius: 25px;
	background-color: #483D8B;
	cursor: pointer;
	width: auto;
	border: none;
}