
input, .class, #typeSwitch{
	border: none;
	border-bottom: 2px solid #7B68EE;
	width: 60%;
}
#leaderDiv{
	width: 300px;
	margin:0 auto;
	border: 2px;
  	padding: 20px;
	background: white;
	border-radius: 25px;
	box-shadow: 15px 24px 24px 0 rgba(0, 0, 0, 0.24), 0 15px 35px 0 rgba(0, 0, 0, 0.19);

}
#space{
	width: 500px;
	padding: 100px;
}